/* App */
.app {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  color: #555;
  background-color: #fcfcfc;
}

/* Text classes */
.highlight {
  color: #2978b5;
}

.title {
  margin: 1%;
}

/* Flexbox classes */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

/* project card classes */
.project-card {
  display: inline-block;
  padding: 10px 10px;
}

/* Navigation Styling */
.nav-list {
  margin-right: 1.5em;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.nav-item {
  margin-left: 1.5em;
}

/* Link Styling */
.link {
  display: inline-block;
  position: relative;
  color:#555;
}

.link-icon {
  color: #555;
}

.link:hover {
  color: #0087ca
}

.link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Button Animation Effect */
.btn {
  background-color: #0087ca;
  border: solid #0087ca;
  color: #fcfcfc;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 16px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #fcfcfc;
  color: #0087ca;
  transition: 0.3s;
}

.btn:after {
  transform: scaleX(0);
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
